streamlit==1.45.1
python-dotenv==1.1.0
langchain==0.3.25
langchain-core==0.3.64
langchain-community==0.3.24
langchain-google-genai
langchain-qdrant==0.2.0
langchain-text-splitters==0.3.8
langsmith==0.3.45
qdrant-client==1.14.2
google-generativeai
google-ai-generativelanguage
google-api-python-client==2.171.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
protobuf==5.29.5
proto-plus==1.26.1
pymupdf==1.26.0
pypdf==5.6.0
filetype==1.2.0
pandas==2.3.0
numpy==2.3.0
tqdm==4.67.1
httpx==0.28.1
requests==2.32.3
httpx-sse==0.4.0
pydantic==2.11.5
pydantic-settings==2.9.1
jinja2==3.1.6
watchdog==6.0.0
typing-extensions==4.14.0
attrs==25.3.0
